*.gem
*.o
*.rbc
*.so
.bundle
.config
.svn
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
ext/cld/Makefile
ext/cld/mkmf.log
